<div class="fixed z-10 h-full pointer-events-none md:block md:static">
    <div class="relative flex w-screen h-full max-w-sm -ml-px md:w-64">
        <input
            id="menu_btn"
            class="absolute opacity-0 menu-btn"
            type="checkbox"
            aria-hidden="true"
        >
        <label
            for="menu_btn"
            class="fixed inset-0 transition-opacity duration-300 ease-out bg-gray-600 opacity-0 pointer-events-none md:hidden big-label"></label>
        <label
            for="menu_btn"
            class="absolute top-0 z-10 inline-block px-6 py-8 duration-300 ease-out cursor-pointer pointer-events-auto select-none -ml-15 transition-left left-full menu-icon md:hidden"
        >
            <span class="relative block w-5 transition-colors duration-300 ease-out bg-gray-500 h-2px navicon"></span>
        </label>
        <div class="flex flex-col flex-1 invisible w-full max-w-xs duration-300 ease-out transform -translate-x-full bg-gray-900 border-r-2 border-gray-900 pointer-events-auto md:bg-transparent lm:bg-white md:flex-initial transition-transform-visibility md:transition-none md:w-64 menu md:translate-x-0 md:visible lm:border-r lm:border-gray-200">
            <div class="flex items-center flex-shrink-0 h-auto px-4 py-5 md:py-0 md:h-16">
                {{ #isHome }}
                <span
                    class="text-lg text-gray-300 underline lm:text-gray-900"
                >
                    {{ site.title }}
                </span>
                {{ /isHome }}
                {{ ^isHome }}
                <a
                    href="{{ site.base }}/"
                    class="text-lg text-gray-300 lm:text-gray-900"
                >
                    {{ site.title }}
                </a>
                {{ /isHome }}
            </div>
            <div class="flex-1 h-0 overflow-y-auto md:flex md:flex-col">
                <nav class="px-2 space-y-1 md:flex-1 md:py-4">
                    <ul>
                        {{ #nav.links }}
                        {{ #isCurrentPage }}
                        <li class="flex items-center px-2 py-2 mt-1 text-base font-medium leading-6 text-white underline md:leading-5 md:text-sm group lm:text-gray-900">
                            {{ #svg }}
                            <svg
                                fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                class="w-6 h-6 mr-4 text-gray-300 lm:text-gray-500 md:mr-3"
                            >
                                {{{ svg }}}
                            </svg>
                            {{ /svg }}
                            {{ title }}
                        </li>
                        {{ /isCurrentPage }}
                        {{ ^isCurrentPage }}
                        <li class="mt-1">
                            <a
                                href="{{ link }}"
                                class="flex items-center px-2 py-2 text-base font-medium leading-6 text-gray-300 lm:text-gray-600 md:leading-5 md:text-sm group hover:text-white lm:hover:text-gray-900 focus:outline-none focus:text-white"
                            >
                                {{ #svg }}
                                <svg
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                    class="w-6 h-6 mr-4 text-gray-400 md:mr-3 group-hover:text-gray-300 group-focus:text-gray-300 lm:group-hover:text-gray-500 lm:group-focus:text-gray-500"
                                >
                                    {{{ svg }}}
                                </svg>
                                {{ /svg }}
                                {{ title }}
                            </a>
                        </li>
                        {{ /isCurrentPage }}
                        {{ /nav.links }}
                    </ul>
                </nav>
            </div>
            <div class="flex items-center justify-center flex-shrink-0 p-2">
                <ul class="flex">
                    {{ #nav.social }}
                    <li>
                        <a
                            href="{{ link }}"
                            class="inline-block px-2 py-2 group focus:outline-none focus:text-white"
                        >
                            {{ #name }}
                            <span class="sr-only">{{ name }}</span>
                            {{ /name }}
                            {{ #svg }}
                            <svg
                                viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 lm:group-hover:text-gray-500 lm:group-focus:text-gray-500"
                            >
                                {{{ svg }}}
                            </svg>
                            {{ /svg }}
                        </a>
                    </li>
                    {{ /nav.social }}
                </ul>
            </div>
        </div>
        <div class="flex-shrink-0 w-14 md:hidden"></div>
    </div>
</div>
